<!doctype html>
<title>Python Flask Upload Multiple Images and Display them</title>
<h2>Select multiple images to upload and display</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="files[]" multiple="true" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

{% if filenames %}
	{% for filename in filenames %}
		<div>
			<img src="{{ url_for('display_image', filename=filename) }}">
		</div>
	{% endfor %}
{% endif %}
<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<form action="/formpp" method="POST" enctype="multipart/form-data">
 --><!-- 			<div class="col-xl-9">
				<input type="number" name="age" value="age" />
			</div>
			<div class="col-xl-9">
				<input type="number" name="chol" value="chol" />
			</div>
			<row>
			<h3> Gender </h3>
			<select name="sex">
				
				<option value="0" > Male </option>
				<option value="1" > Female	</option>
			</select>
		</row>
			<button type="number"> Submit</button> -->
<!-- 			div class="row">
                        <div class="col-xl-9">
                            <input type="number"  placeholder="Patient Age" id="age" name="age" required="required" />
                        </div>
                        <div class="col-xl-12">

                            <select class="form-select wide" id="default-select" name="sex" required="required" />
                                <option selected="selected" disabled="disabled"> Patient Gender</option>
                                <option value="0" >Female</option>
                                <option value="1" >Male</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="cp" required="required" >
                                <option selected="selected" disabled="disabled" >Chest Pain- severity level </option> s
                                <option value="0" >Asymptomatic</option>
                                <option value="1" >Atypical Angina</option>
                                <option value="2" >Non-Anginal Pain</option>
                                <option value="3" >Typical Angina </option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <input type="number" placeholder="resting blood pressure (in mm Hg on admission to the hospital)" name="trestbps" required="required" />
                        </div>
                        <div class="col-xl-9">
                            <input type="number"  placeholder="Serum Choestrol in mg/dle" name="chol" required="required" />
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="fbs" required="required" >
                                <option   selected="selected" disabled="disabled"> Fasting BLood Sugar </option>
                                <option value="0" >Less than 120 mg/dl</option>
                                <option value="1" >More than 120 mg/dl</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="restecg" required="required" >
                                <option   selected="selected" disabled="disabled">Resting Electrographic Results</option>
                                <option value="0">Normal</option>
                                <option value="1">ST-T wave with abnormality</option>
                                <option value="2">Definite/ probable left ventricular hypertrophy</option>
                            </select>
                        </div>
                        <div class="col-xl-9">
                            <input type="number" placeholder="Maximum Heart Rate Achieved" name="thalach" required="required" />
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="exang" required="required" >
                                <option  disabled="disabled" selected="selected"> Exercise Induced Angina </option>
                                <option value="0" >No</option>
                                <option value="1" >Yes</option>
                            </select>
                        </div>
                        <div class="col-xl-9">
                            <input type="number" step="0.01" placeholder="ST depression induced by exercise relative to rest" name="oldpeak" required="required" />
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="slope" required="required" >
                                <option disabled="disabled" selected="selected"> Slope value of the peak exercise ST segment </option>
                                <option value="0" >Upsloping</option>
                                <option value="1" >Flat</option>
                                <option value="2" >Downsloping</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" name="ca" required="required">
                                <option selected="selected" disabled="disabled"> number of major vessels (0-3) colored by flourosopy </option>
                                <option value="0" >0</option>
                                <option value="1" >1</option>
                                <option value="2" >2</option>
                                <option value="3" >3</option>
                            </select>
                        </div>

                        <div class="col-xl-12">
                            <button type="number" id="singlebutton" name="GO" value="1s" class="boxed-btn3">Submit</button>
                        </div>
		</form>
	</div>	
</body>
</html> -->